# dependencies
node_modules

# Next.js
.next/
out/

# Build
dist/
*.tgz

# Bun
bun.lock

# code coverage
coverage
*.lcov

# logs
logs
*.log

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IDEs
.idea
.vscode

# Finder (MacOS)
.DS_Store

# Windows
Thumbs.db
